<div class="modal-header">
    <h4 class="modal-title">
        <span *ngIf="dataDto.id">Sửa</span>
        <span *ngIf="!dataDto.id">Thêm mới</span>
    </h4>
    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <mat-dialog-content class="mat-typography">
        <div class="form-group">
            <div class="row">
                <div class="col-md-10">
                    <label>Tên</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" [(ngModel)]="dataDto.tenVung" />
                    <validation-custom [modelValidate]="dataDto.tenVung" name="tenVung"
                        [(validateResult)]="commonValidateResult">
                    </validation-custom>
                </div>
                <!-- <div class="col-md-2">
                    <label style="margin-bottom:1rem">Kích Hoạt</label><br />
                    <p-inputSwitch [(ngModel)]="danhMucChung_QuocGia.isActive" name="DanhMucChung_QuocGia_isActive"
                        id="DanhMucChung_QuocGia_isActive"></p-inputSwitch>
                </div> -->
            </div>
        </div>
        <div class="form-group">
            <label>Mã vùng</label><span class="text-danger">*</span>
            <input type="text" class="form-control" [(ngModel)]="dataDto.maVung" name="maVung" />
            <validation-custom [modelValidate]="dataDto.maVung" name="maVung" [(validateResult)]="commonValidateResult">
            </validation-custom>
        </div>
        <div class="form-group">
            <label>Quốc gia</label><span class="text-danger">*</span>
            <input type="number" class="form-control" [(ngModel)]="dataDto.quocGiaId" name="quocGiaId" />
            <validation-custom [modelValidate]="dataDto.quocGiaId" name="quocGiaId" [(validateResult)]="commonValidateResult">
            </validation-custom>
        </div>
        <div class="form-group">
            <label>Mã liên thông</label>
            <input type="number" class="form-control" [(ngModel)]="dataDto.niisId" name="NiisId" />
        </div>

        <div class="form-group">
            <label>Mô tả</label>
            <textarea name="MoTa" class="form-control" rows="3" [(ngModel)]="dataDto.moTa"></textarea>
        </div>

    </mat-dialog-content>

</div>
<div class="modal-footer">
    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
    <button type="button" class="btn btn-primary blue" (click)="save()" [buttonBusy]="saving"
        [busyText]="l('SavingWithThreeDot')" *ngIf="!data.readonly"><i class="fa fa-save"></i>
        <span>{{l("Save")}}</span></button>
</div>
