<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>Vùng</span>
            </h3>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="showCreateOrEditModal()" class="btn btn-primary">
                    <i class="fa fa-plus"></i>Thêm
                    mới
                </button>
            </div>
        </div>
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="kt-form" autocomplete="new-password">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Nhập tên để tìm kiếm..."
                                [(ngModel)]="filterObj.filter" (keydown.enter)="getDataGrids()">
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary" (click)="getDataGrids()">
                                <i class="flaticon-search-1" aria-label="Search"></i>
                                Tìm kiếm
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center">

                    <!-- <ord-table [tableHelper]="ordTableHelper" (onLoadData)="getDataGrids($event)">
                        <ng-template #header>
                            <tr>
                                <th>STT</th>
                                <th>#</th>
                                <th sortable-column="maVung" sort-direction="desc">Mã vùng</th>
                                <th sortable-column="tenVung">Tên vùng</th>
                                <th>Quốc gia</th>
                            </tr>
                        </ng-template>
                        <ng-template #body #body let-dataItem="$dataItem" let-stt="$stt">
                            <tr>
                                <td>
                                    {{stt}}
                                </td>
                                <td>
                                    <button (click)="showCreateOrEditModal(dataItem.id)" style="margin-left: 10px"
                                        class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                        title="View "> <i class="la la-edit"></i> </button>
                                </td>
                                <td>
                                    {{dataItem.maVung}}
                                </td>
                                <td>
                                    {{dataItem.tenVung}}
                                </td>
                                <td>
                                    {{dataItem.strQuocGia}}
                                </td>
                            </tr>
                        </ng-template>
                    </ord-table> -->


                    <!-- <ejs-grid [dataSource]='data' allowPaging='true' height=365 [pageSettings]='initialPage'>
                        <e-columns>
                            <e-column field='id' headerText='STT' width='80'></e-column>
                            <e-column headerText='Thao tác' width='200'>
                                <ng-template>
                                    <div>
                                        A | B
                                    </div>
                                </ng-template>
                            </e-column>
                            <e-column field='maVung' headerText='Mã vùng' width='100'></e-column>
                            <e-column field='tenVung' headerText='Tên vùng'></e-column>
                            <e-column field='strQuocGia' headerText='Quốc gia' width='120'></e-column>
                            <e-column field='quocGiaId' headerText='QuocGiaId' width='80'></e-column>
                        </e-columns>
                    </ejs-grid> -->
                </div>
            </div>
        </div>
    </div>
</div>