<table sortable-table (sorted)="onSorted($event)" (strSort)="setSortDefault($event)"  
class="table table-striped table-bordered table-hover ">
    <thead>
        <ng-container *ngTemplateOutlet="header;">
        </ng-container>
    </thead>
    <tbody [ngStyle]="{'opacity':tableHelper.isLoading ? 0.4 : 1 }">
        <ng-container *ngFor="let dataItem of tableHelper.items; index as i; trackBy: trackByFn">
            <ng-container *ngTemplateOutlet="body; context:  {$dataItem: dataItem,$stt:i+skipCount+1,$index:i}">
            </ng-container>
        </ng-container>
        <div [hidden]="!tableHelper.isLoading" class="loading">
            <div class="lds-facebook"><div></div><div></div><div></div></div>
        </div>
    </tbody>

    <tfoot *ngTemplateOutlet="foot;">
    </tfoot>
</table>
<ord-page-bar #pagebar [totalCount]="tableHelper.totalCount" [maxResultCount]="tableHelper.defaultMaxResultCount"
    [pageOptions]="tableHelper.defaultPageOptions" (pageBarChange)="refreshTable($event)">
</ord-page-bar>
