<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{disabled: currentPage==1||currentPage==0}" (click)="ClickFirstPage()">
            <a class="page-link noselect" tabindex="-1" title="Trang đầu" >&lt;&lt;</a>
        </li>
        <li class="page-item" [ngClass]="{disabled: currentPage==1||currentPage==0}" (click)="ClickPrevious()">
            <a class="page-link noselect" tabindex="-1"  title="Trang trước">&lt;</a>
        </li>
        <li class="page-item" aria-current="page" [ngClass]="{active: page==currentPage}" *ngFor="let page of numbersPage" (click)="ClickNumber(page)">
            <a class="page-link noselect">{{page}}</a>
        </li>
        <li class="page-item" (click)="ClickNext()" [ngClass]="{disabled: currentPage==totalPages}">
            <a class="page-link noselect" tabindex="-2" title="Trang tiếp">&gt;</a>
        </li>
        <li class="page-item" (click)="ClickLastPage()" [ngClass]="{disabled: currentPage==totalPages}">
            <a class="page-link noselect" tabindex="-2" title="Trang cuối">&gt;&gt;</a>
        </li>
    </ul>
</nav>
