<!-- BEGIN: Topbar -->
<div style="padding:10px; padding-left:10px;">
    <div class="kt-header__topbar">
        <div dropdown class="kt-header__topbar-item dropdown dropdown-language" aria-haspopup="true">
            <div dropdownToggle class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="30px,0px" aria-expanded="true">
                <span class="kt-header__topbar-icon kt-header__topbar-icon--brand">
                    <i [class]="'fa fa-plus'"></i>
                </span>
            </div>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-left dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg" [attr.aria-label]="l('Languages')">
                <ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
                    <li class="kt-nav__item">
                        <a class="kt-nav__link" [routerLink]="'/app/quan-tri/khach-hang'">
                            <span class="kt-nav__link-icon">
                                <i [class]="'fa fa-plus'"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                Khách hàng
                            </span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i [class]="'fa fa-plus'"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                Cơ hội
                            </span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i [class]="'fa fa-plus'"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                Hóa đơn
                            </span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i [class]="'fa fa-plus'"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                Báo giá
                            </span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i [class]="'fa fa-plus'"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                Đề xuất
                            </span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i [class]="'fa fa-plus'"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                Công việc
                            </span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i [class]="'fa fa-plus'"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                Dự án
                            </span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i [class]="'fa fa-plus'"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                Hợp đồng
                            </span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i [class]="'fa fa-plus'"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                Chi phí
                            </span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i [class]="'fa fa-plus'"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                Kiến thức
                            </span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i [class]="'fa fa-plus'"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                Mục tiêu
                            </span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i [class]="'fa fa-plus'"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                Yêu cầu kỹ thuật
                            </span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a class="kt-nav__link">
                            <span class="kt-nav__link-icon">
                                <i [class]="'fa fa-plus'"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                Sự kiện
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END: Topbar -->
