/* ATTP CORE CUSTOM CSS */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

body .ui-widget {
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-family: 'Roboto', sans-serif;
}
