
<form nz-form [formGroup]="rfDataModal" nzLayout="horizontal">
   
    <nz-form-item nzFlex nzGutter="6">
        <nz-form-label nzFor="ten" [nzSm]="8" nzRequired>Tên huyện</nz-form-label>
        <nz-form-control [nzSm]="16" nzErrorTip="Giá trị bắt buộc!">
            <input nz-input formControlName="ten">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nzFlex>
            <nz-form-label [nzSm]="8" nzRequired="true">Tỉnh/Thành phố </nz-form-label>
            <nz-form-control [nzSm]="16" nzErrorTip="Giá trị bắt buộc!">
                <tinh-combo formControlName='tinhId' ></tinh-combo>
                <!-- <nz-input-number formControlName="tinhId"></nz-input-number> -->
            </nz-form-control>
        </nz-form-item>
    <nz-form-item nzFlex>
        <nz-form-label nzFor="niisId" [nzSm]="8">Mã liên thông</nz-form-label>
        <nz-form-control [nzSm]="16">
            <nz-input-number  formControlName="niisId"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nzFlex>
        <nz-form-label nzFor="moTa" [nzSm]="8">Mô tả</nz-form-label>
        <nz-form-control [nzSm]="16">
            <textarea nz-input formControlName="moTa"></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <div *nzModalFooter>
                <button type="button" nz-button nzType="default" (click)="close()">Đóng</button>
                <button type="submit" nz-button nzType="primary" (click)="save()">Lưu</button>
            </div>
        </nz-form-control>
    </nz-form-item>
</form>
<pre>
    {{rfDataModal.value | json}}
  </pre>
