<form nz-form [formGroup]="rfQuocGia" nzLayout="horizontal">
    <nz-form-item nzFlex nzGutter="6">
        <nz-form-label nzFor="tenQuocGia" [nzSm]="6" nzRequired>Tên quốc gia</nz-form-label>
        <nz-form-control [nzSm]="18" nzErrorTip="Giá trị bắt buộc!">
            <input nz-input formControlName="tenQuocGia">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzFor="maQuocGia" [nzSm]="6" nzRequired>Mã quốc gia</nz-form-label>
        <nz-form-control [nzSm]="18" [nzErrorTip]="maQGErrorTip">
            <input nz-input formControlName="maQuocGia">
            <ng-template #maQGErrorTip let-control>
                <ng-container *ngIf="control.hasError('required')">
                    Mã quốc gia là bắt buộc!
                </ng-container>
                <ng-container *ngIf="control.hasError('minlength')">
                    Độ dài tối thiểu là 5
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nzFlex>
        <nz-form-label nzFor="niisId" [nzSm]="6">Mã liên thông</nz-form-label>
        <nz-form-control [nzSm]="18">
            <nz-input-number formControlName="niisId"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nzFlex>
        <nz-form-label nzFor="moTa" [nzSm]="6">Mô tả</nz-form-label>
        <nz-form-control [nzSm]="18">
            <textarea nz-input formControlName="moTa"></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <div *nzModalFooter>
                <button type="button" nz-button nzType="default" (click)="close()">Đóng</button>
                <button type="submit" nz-button nzType="primary" (click)="save()">Lưu</button>
            </div>
        </nz-form-control>
    </nz-form-item>
</form>
<!-- <form novalidate (ngSubmit)="save()" #form="ngForm" [formGroup]="rfQuocGia">
    <div class="modal-body">
        <div class="form-group row">
            <div class="col-md-12">
                <label>Tên</label>
                <input class="form-control" formControlName="tenQuocGia">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label>Mã quốc gia</label>
                <input class="form-control" formControlName="maQuocGia">
            </div>
            <div class="col alert alert-danger" role="alert" *ngIf="rfQuocGia.hasError('required', ['maQuocGia']) &&
            rfQuocGia.get('maQuocGia').touched">
                Invalid Username!
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label>Mã liên thông</label>
                <input class="form-control" type="number" formControlName="niisId">
            </div>

        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label>Mô tả</label>
                <input class="form-control" formControlName="moTa">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
        <button type="button" class="btn btn-primary blue" (click)="save()" [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
            <span>{{l("Save")}}</span></button>
    </div>
    <pre>
            {{rfQuocGia.value||json}}
    </pre>
</form> -->
