<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>Quốc gia</span>
            </h3>
            <!-- <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    {{"UsersHeaderInfo" | localize}}
                </span> -->
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="showCreateOrEditModal()" class="btn btn-primary"><i class="fa fa-plus"></i>Thêm
                    mới</button>
            </div>
        </div>
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="kt-form" autocomplete="new-password">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Nhập tên để tìm kiếm..."
                                [(ngModel)]="filterText" (keydown.enter)="getDataGrids()">
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary" (click)="getDataGrids()">
                                <i class="flaticon-search-1" aria-label="Search"></i>
                                Tìm kiếm
                            </button>
                        </div>
                    </div>
                </div>
                <nz-table [nzData]="nzTable.items" nzShowSizeChanger [nzFrontPagination]="false"
                    [nzLoading]="nzTable.loading" [nzTotal]="nzTable.totalCount" [(nzPageIndex)]="nzTable.pageIndex"
                    [(nzPageSize)]="nzTable.pageSize" [nzPageSizeOptions]="nzTable.defaultPageOptions" nzBordered="true"
                    (nzPageIndexChange)="getDataGrids()" (nzPageSizeChange)="getDataGrids(true)">
                    <thead (nzSortChange)="sort($event)" nzSingleSort>
                        <tr>
                            <th>STT</th>
                            <th>Thao tác</th>
                            <th nzShowSort nzSortKey="tenQuocGia">Tên</th>
                            <th nzShowSort nzSortKey="maQuocGia">Mã quốc gia</th>
                            <th>Mô tả</th>
                            <th nzShowSort nzSortKey="niisId">Mã liên thông</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dataItem of nzTable.items;index as i">
                            <td>{{i+1}}</td>

                            <td>
                                <a nz-dropdown [nzDropdownMenu]="menu">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                    <ul nz-menu nzSelectable>
                                        <li nz-menu-item>1st menu item</li>
                                        <li nz-menu-item>2nd menu item</li>
                                        <li nz-menu-item>3rd menu item</li>
                                    </ul>
                                </nz-dropdown-menu>
                                <button nz-button nzType="default" nzShape="link" (click)="showCreateOrEditModal(dataItem)"><i nz-icon nzType="edit"></i></button>

                            </td>
                            <td>
                                {{dataItem.tenQuocGia}}
                            </td>
                            <td>
                                {{dataItem.maQuocGia}}
                            </td>
                            <td>
                                {{dataItem.moTa}}
                            </td>
                            <td>
                                {{dataItem.niisId}}
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
                <div class="row align-items-center">

                </div>
            </div>
        </div>
    </div>
</div>