<div style="display: flex;">
    <div class="col-xl-4 col-md-4 ">
        <span>Tổng số : </span>
        <span style="font-weight: bold">{{totalCount}}</span>
        <span> bản ghi</span>
        <span style="cursor: pointer;color: green; margin-left: 5px" class="la la-refresh" (click)="refresh()"></span>
    </div>
    <div class="col-xl-8 col-md-8 text-right">
        <select style="margin-left: 5px; float:right; width: auto" [(ngModel)]="maxResultCount" (change)="maxResultCountChange()"
            class="cbb-pagging">
            <option *ngFor="let pz of pageOptions" [value]="pz">{{pz}}</option>
        </select>
        <ord-pagination style="float:right" [currentPage]="currentPage" [totalPages]="totalPages" (currentPageChange)="currentPageChange($event)"></ord-pagination>
    </div>

</div>
