.cbb-pagging{
    margin-left: 5px;
    float: right;
    width: auto;
    display: block;
    height: 2.3rem;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
}